/* Header */

.all-link-effect:hover {
    color: black;
}

/* Anime On Going Animation */

.all-effect-parrent:hover {
    background-color: rgb(108, 105, 105);
    cursor: pointer;
}

#btn-show-more:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

/* New Episode Part Animation */

.all-effect-container-two:hover {
    background-color:  rgb(108, 105, 105);
}

#all-effect-child-container-new-episode:hover {
    background-color:  rgb(108, 105, 105);
    cursor: pointer;
}

#tes{
    display: inline;
    top:35px;
    position: absolute  ;
}