.all-new-episode-content-effect > p {
    color: white;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
}

#all-effect-new-episode {
    display: flex;
    text-align: center;
}


#container-new-episode {
    padding: 5px 20px;
    display: inherit;
}

.all-effect-container-two {
    background-color: beige;
    padding: 10px;
}

#all-effect-child-container-new-episode{
    background-color:#2C2C2C;
    padding: 10px;
}